*{
    box-sizing: border-box;
    text-align: justify;
}

body{
    width: 60vw;
    margin: auto;
}

h1{
    margin-bottom: 0.5vh;
    margin-top: 2vh;
}

figure img{
    width: 49%;
}

figcaption{
    font-size: 12px;
}

section{
    font-size: 15px;
}

#sottotitolo{
    font-size: 17px;
}

#written, #date{
    color: #808080;
}

#author{
    color: #20a9e5;
}

#date{
    font-size: 12px;
}

#interests{
    color: #808080;
}

#monitor{
    background-image: url('../img/monitor.jpg');    
}

#graph{
    background-image: url('../img/graph.jpg');
}

#monitor, #graph{
    width: 20vw;
    height: 20vh;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 2vh;
}

.bool-header{
    background-image: url('../img/pattern.png');
    height: 8vh;
    background-size: contain;
    background-color: #4ea0ff;
    position: relative;
}

.bool-header img{
    height: 50%;
    width: 16%;
    position: absolute;
    bottom: 10%;
    left: 0;
    transform: translateX(-7%);
}

.larg{
    width: 50%;
}

.bluerow{
    background-color: #20a9e5;
    color: white;
    font-weight: bold;
}

.azurerow{
    background-color: #b1e5f2;
}